@model IEnumerable<Formulario.Models.Alumno>


<h1>@ViewData["Title"]</h1> 

<p>Listado de Alumnos, matriculados en la SEDE Osorno</p>

<table class="table table-responsive table-bordered" >

    <thead>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Ciudad</th>
        <th>Sexo</th>  
        <th></th>
    </thead>
    <tbody>
        @foreach (Alumno alumno in Model)
        {
            <tr>
                <td>@Html.DisplayFor(item => alumno.rut)</td>
                <td>@Html.DisplayFor(item => alumno.nombre)</td>
                <td>@Html.DisplayFor(item => alumno.apellido)</td>
                <td>@Html.DisplayFor(item => alumno.ciudad)</td>
                <td>@Html.DisplayFor(item => alumno.sexo)</td>
                <td> </td>
                

            </tr>
        }
       

    
    </tbody>
</table>
